<div class="row">
  <div class="col">
    <h1>Animals</h1>
  </div>
  <div class="col text-end">
    <button class="btn btn-success" routerLink="/animals/add">Add new</button>
  </div>
</div>

<ul class="nav nav-tabs mb-4">
  <li class="nav-item">
    <a class="nav-link" (click)="changeActiveTab('table')" [class.active]="activeTab === 'table'">Table</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="changeActiveTab('cards')" [class.active]="activeTab === 'cards'">Cards</a>
  </li>
</ul>

<div>
  <ng-container *ngIf="activeTab === 'table'">
    <table class="table table-striped align-middle">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Type</th>
        <th scope="col" class="text-end">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let animal of animalsService.animals; let i = index" [class.table-danger]="animal.type === 'Wild'"
          [class.table-success]="animal.type === 'Domestic'">
        <th scope="row">{{ i }}</th>
        <td>{{ animal.name }}</td>
        <td>{{ animal.type }}</td>
        <td class="text-end">
          <button type="button" class="btn btn-danger btn-sm" (click)="removeAnimal(animal)">Remove</button>
        </td>
      </tr>
      </tbody>
    </table>
  </ng-container>

  <ng-container *ngIf="activeTab === 'cards'">
    <div class="row">
      <div *ngFor="let animal of animalsService.animals; let i = index" class="col-3 mb-4">
        <div class="card" [class.border-danger]="animal.type === 'Wild'" [class.border-success]="animal.type === 'Domestic'">
          <img src="{{ animal.imageUrl }}" class="card-img-top" alt="animal" style="max-height: 200px;">
          <div class="card-body">
            <h5 class="card-title">{{ animal.name }}</h5>
            <p class="card-text">{{ animal.description }}</p>
          </div>
          <div class="card-footer text-body-secondary">
            {{ animal.type }}
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
